{% extends "layout.html" %}

{% block title %}Wikipedia Results for "{{ term }}"{% endblock %}

{% block content %}
  {% if page %}
    <h2>Results for "<em>{{ term }}</em>"</h2>

    <h3>{{ page.title }}</h3>
    <p>{{ page.summary }}</p>
    <p><a href="{{ page.url }}" target="_blank">Read more on Wikipedia</a></p>

  {% else %}
    <h2>No Results</h2>
    <p>Sorry, we couldn't find anything for "<strong>{{ term }}</strong>".</p>
    <p><a href="{{ url_for('search') }}">Try another search</a></p>
  {% endif %}
{% endblock %}
v